
.maze-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; border-radius: 8px; 
  box-shadow: 0 12px 12px 0 rgba(0,0,0,0.2); 
  background-color: #e9e7e7; 
  padding: 20px; 
  margin: 20px; 
  overflow: hidden;
}
.container {
  display: flex;
  align-items: center; 
  justify-content: center; 
  height: 100vh;
}

.controls {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.maze-button {
  background-color: #0091ff;
  margin: 10px;
  color: white;
  cursor: pointer;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;;
}
.maze-button:hover {
  background-color: #007acc; 
}

.maze {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.row {
  display: flex;
  flex-direction: row;
}

.cell {
  width: 20px;
  height: 20px;
  border: 1px solid white;
}

.cell.wall {
  background-color: black;
}

.cell.visited {
  background-color: lightblue
}

.cell.path {
  background-color: white;
}

.cell.start {
  background-color: green;
}

.cell.end {
  background-color: red;
}